# reference : https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
#.ipynb_checkpoints

# Others
*.csv
*.png
*.env

# Virtual environments
venv/
secrets.toml